.input-container {
  width: 100%;
  box-sizing: border-box;
}

.input-container input {
  width: 100%;
  box-sizing: border-box;
  padding: 14px 16px;
  border-radius: 4px;
  border: 1px solid #333;
  margin-bottom: 18px;
  font-size: 16px;
  outline: none;
}

.input-container input:focus {
  border: 2px solid #0ca1dc;
}
