html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  background-color: black;
}

.main-container {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* padding: 10px; */
  border-top: 2px solid #2f3336;
  border-bottom: 2px solid #2f3336;
}

.component-container {
  display: flex;
  width: 100%;
  height: 100%;
}

.component-container > :first-child {
  width: 25vw;
  flex-shrink: 0;
}

main {
  flex: 1;
  height: 100vh;
  overflow-y: auto;
  background: black;
  border-left: 1px solid #2f3336;
  border-right: 1px solid #2f3336;
}

.rightBar {
  width: 33vw;
  min-width: 300px;
  padding: 10px 40px;
  position: sticky;
  top: 0;
  height: 100vh;
}
